<div class='nested-fields'>
	<div class="form-inline">
    	<div class="field">
    	  <%= f.label :name %>
    	  <%= f.text_field :name, class: 'form-control' %>
				<%= link_to_remove_association "Remove", f, class: 'btn-link' %>
    	</div>		
	</div>
</div>